# Database
DATABASE_URL="mysql://root:@localhost:3306/rentacar"

# JWT
JWT_SECRET="super-secret-jwt-key-change-in-production"
JWT_REFRESH_SECRET="super-secret-refresh-key-change-in-production"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Backend
PORT=3001

# Frontend
VITE_API_URL=http://localhost:3001

SMTP_USER=milton.armando10@gmail.com
SMTP_PASS=zyilxeatfmoajlxx